
html,body{
    background: #f2f2f2;
}
/* 主容器布局 */
.main{}
.main .left{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;    
    background:#444;
}
.main .left .menu{
    width: 75px;
}
.main .left .menu-sub{
    display: none;    
    position: absolute;
    left:75px;
    bottom: 0;
    top: 0;
    width: 119px;
    border-right: solid 1px #e5e5e5;
    background: #fff;
}
.main .right{
    margin-left: 75px;
}
.main.sub-menu-show .right{
    margin-left: 195px
}
.main.sub-menu-show .menu-sub{
    display: block;
}
/* 一级菜单布局 */
.menu h5{
    text-align: center;
    line-height: 30px;
    padding-top: 20px;
    color: #717070;
}
.menu  .menu-item{
    text-align: center;
    line-height: 36px;
}
.menu  .menu-item a{
    display: block; 
    color: #fff;
}
/* 二级菜单布局 */
.menu-sub h5 {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    font-size: 14px;
    color: #333;
}
.menu-sub  .menu-item{
    text-align: center;
    line-height: 37px;
    font-size: 14px;
}
.menu-sub  .menu-item a{
    display: block;    
    color: #666;
}